* {
    box-sizing: border-box;
}

@backColor : #fff;
@fontColor : #484848;
@titleColor : #727151;
@borderColor : #A1A1A1;

body {
  	background-color: @backColor;
  	color: @fontColor; 
}

h1, h2 {
  color: @titleColor;
  font-size: 4rem;
}

h3, h4 {
  color: @titleColor;
  font-size: 2rem;
}

hr {
  border-color: @borderColor; 
}